body {
    padding: 20px;
    margin: 0;
    background-color: aliceblue;
    font-family: Arial, sans-serif;
}

nav {
    margin-bottom: 20px;
}

nav a {
    width: 20vw;
    display: inline-block;
    background-color: rgb(100, 119, 226);
    text-align: center;
    color: rgb(14, 11, 53);
    padding: 10px;
    margin-right: 2vw;
    border-radius: 5px;
    text-decoration: none;
    box-sizing: border-box;
}

a:last-child {
    margin-right: 0;
}

section {
    display: flex;
    justify-content: space-between;
}

section .Nome {
    display: inline-block;
    width: 45%;
    background-color: rgba(199, 188, 188, 0.219);
    color: black;
    border: 1px solid #aa9a9a;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin-right: 5%;

}

section .Email {
    display: inline-block;
    width: 45%;
    background-color: rgba(199, 188, 188, 0.219);
    color: black;
    border: 1px solid #aa9a9a;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin-right: 5%;

}